body {
height: 100vh;
width: 100vw;
  margin: 0;
  padding: 0;
font-family: 'Roboto Slab', serif;
font-weight: 100;
  background-image: url('../images/wolf-zoom-3000w.png');
 background-size: cover;
 background-repeat: no-repeat;
 color: white;

}



h1 {
  font-size: 4.4rem;
  text-align: center;
  font-weight: 100;
}



p {
  font-size: 1.1rem;

}

.lead {
  text-align: center;
  font-size: 2rem;
}

.brand-name {
  font-variant: small-caps;

}

 
